.project {
  .project-numberBox {
    display: flex;
    justify-content: space-between;
    max-width: 860px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    .project-numberBox__div {
      margin: 1rem;
      text-align: center;
      padding: 0 1rem;
      min-width: 12rem;
    }
    .project-numberBox__div:first-child {
      background-color: #87eb95;
    }
    .project-numberBox__div:nth-child(2) {
      background-color: #87cfeb;
    }
    .project-numberBox__div:last-child {
      background-color: #f1df90;
    }
  }

  .project-tableBox {
    
  }
}

.project-projectsContainer {
  display: flex;
  justify-content: center;
  position: relative;
  .table-row__head {
    cursor: pointer;
  }
  .project-row {
    background-color: rgb(240, 240, 240);
    z-index: 5;
    position: relative;
    td {
      cursor: pointer;
    }
  }
}

.project-timesheetsContainer {
  transition: 400ms ease-in-out;
}

th {
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  text-align: left;
  border-bottom: solid 1px rgb(168, 168, 168);
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 9;
}
thead {
  color: white;
  background-color: #363636;
  position: relative;
  z-index: 9;
  tr {
    border-radius: 5px 5px 0 0;
  }
}
tbody {
  font-family: "Source Sans Pro", sans-serif;
}
td {
  padding: 0.25rem 1rem;
  min-width: 6rem;
}

.project-row__hours,
  .project-row__timesheets-row__hours {
    text-align: right;
  }
  .project-row__timesheets-head {
    td {
      z-index: 5;
      position: relative;
      background-color: #b278c8;
      cursor: pointer;
    }
    color: white;
  }
  .project-row__timesheets-row {
    background-color: rgb(246, 246, 246);
    transform: translateY(-100vh);
    z-index: 0;
    animation: 1s slideDown forwards;
  }

@keyframes slideDown {
  100% {transform: translateY(0)}
}

.table-row__head {
  .sort-arrow {
    margin-left: auto;
    svg {
      width: 0.75rem;
    }
  }
  .asc {
    transform: rotate(180deg);
  }
  .none {
    width: 0.75rem;
  }
}

@media only screen and (max-width: 860px) {
  .project {
    .project-numberBox {
      padding: 0 0;
    }
  }
}
